{% extends 'base.html.twig' %}

{% block title %}Edit Coche{% endblock %}

{% block body %}
    <h1>Edit Coche</h1>

    {{ include('coche/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coche_index') }}">back to list</a>

    {{ include('coche/_delete_form.html.twig') }}
{% endblock %}
