{% extends 'base.html.twig' %}

{% block title %}Hello CursoController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello ✅</h1>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Language</th>
                    <th>Nº Alumnos</th>
                </tr>
                {% for item in courses %}
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.nivel}}</td>
                    <td>{{item.idioma}}</td>
                    <td>{{item.alumnos|length}}</td>
                </tr>
                {% endfor %}
            </table> 
      
</div>
{% endblock %}
