{% extends '../base.html.twig' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title> 
    </head>
    <body>
        <div class="example-wrapper">
            <h1>Hello {{ myname }}! ✅</h1>

            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Edad</th>
                    <th>Ciudad</th>
                </tr>
                {% for emp in employees %}
                <tr>
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.email }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
